<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <title>Resultados da Análise</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='static_style.css') }}">
</head>
<body>
    <header>
        <h1>Resultados da IA</h1>
    </header>

    <div class="container">
        <h2>{{ resumo }}</h2>
        <div style="display:flex; justify-content:center; flex-wrap:wrap;">
            <div>
                <h3>Imagem Original</h3>
                <img src="{{ original }}" alt="Imagem Original">
            </div>
            <div>
                <h3>Resultado da IA</h3>
                <img src="{{ resultado }}" alt="Resultado da IA">
            </div>
        </div>
        <a href="{{ url_for('index') }}">Voltar</a>
    </div>
</body>
</html>
